<h1>Hello, World Angular!</h1>
<h2>Testando H2</h2> <!--Esse H2 não é estilizado, pois cada componente possui sua própria estrutura separada-->
<p>Alguma coisa</p>
<div>
    <a href="#">Clique Aqui!</a>
</div>
<app-first-component></app-first-component> <!--Importando o first-component no app.componenet para ser visializado no navegador-->
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter> <!--Componente Pai-->

