<h1>Cadastro de Pessoas</h1>

<form [formGroup]= "formPessoa">
  <legend>Dados Pessoais</legend>
  <input placeholder="Nome">
  <input placeholder="CPF">
  <input placeholder="Data de Nascimento">
  <input placeholder="Participa da Fidelidade?">
  <input placeholder="Saldo em Conta">
  <input placeholder="Telefone">

  <legend>Endereço</legend>
  <input placeholder="CEP">
  <input placeholder="Rua">
  <input placeholder="Bairro">
  <input placeholder="Cidade">
  <input placeholder="Estado">


  <button>Criar</button>
  <button>Editar</button>
  <button>Excluir</button>
  <button>Pesquisar</button>
</form>
