<h1>Cadastro de Pessoas</h1>

<form [formGroup]= "formPessoa">
  <legend>Dados Pessoais</legend>
  <input placeholder="Nome" formControlName="nome">
  <input placeholder="CPF" formControlName="cpf">

  <div><label >Data de Nascimento:</label></div>
  <mat-form-field>
    <input placeholder="Data de Nascimento" formControlName="dataNascimento" matInput [matDatepicker]="dataNacimento">
    <mat-datepicker-toggle [for]="dataNacimento"></mat-datepicker-toggle>
    <mat-datepicker #dataNacimento></mat-datepicker>
  </mat-form-field>


  <div>
    <label >Participa da Fidelidade?</label>
    <input placeholder="Sim ou Não" formControlName="participaFidelidade">
  </div>


  <div>
    <label >Saldo em Conta:</label>
    <input placeholder="Saldo em Conta" formControlName="saldoConta">
  </div>

  <input placeholder="Telefone" formControlName="telefone">

  <legend>Endereço</legend>
  <input placeholder="CEP" formControlName="cep">
  <input placeholder="Rua" formControlName="rua">
  <input placeholder="Bairro" formControlName="bairro">
  <input placeholder="Cidade" formControlName="cidade">
  <input placeholder="Estado" formControlName="estado">


  <button>Cadastrar</button>
  <button>Editar</button>
  <button>Excluir</button>
  <button>Pesquisar</button>
</form>

